body {
  margin: 40px;
  font-family: "Arial", sans-serif;
  font-size: 1.8em;
  overscroll-behavior-y: none;
}

button {
  font-size: 1.3em;
}

:root {
  --boardSize: 3;
}

#board {
  display: grid;
  grid-auto-rows: calc(80vw/var(--boardSize));
  grid-template-columns: repeat(var(--boardSize), calc(80vw/var(--boardSize)));
  grid-gap: 10px;
  margin-bottom: 50px;
}

.letter {
  border-style: solid;
  border-color: darkblue;
  border-radius: 20px;
  padding: 13px;
  line-height: calc(80vw/var(--boardSize) - 30px);
  text-align: center;
  font-size: calc(50vw/var(--boardSize));
  text-transform: uppercase;
}

.letter.marked {
  background-color: blue;
}

.guessedWordHidden {
  position: absolute;
  display: none;
}

@keyframes guessedWordAnimation {
  from {
    margin-left: 0px;
    opacity: 1;
  }
  to {
    margin-left: 100px;
    opacity: 0;
  }
}

.guessedWordCorrect {
  position: absolute;
  display: block;
  color: green;
  animation-name: guessedWordAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.guessedWordIncorrect {
  position: absolute;
  display: block;
  color: red;
  animation-name: guessedWordAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.guessedWordDuplicate {
  position: absolute;
  display: block;
  color: orange;
  animation-name: guessedWordAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#game {
  display: none;
}


.unplayable {
  color: lightgrey;
}

#timer {
  text-align: center;
  padding: 10px;
}
